button {
  border: 1px black;
  color: black;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 10px 5px;
  cursor: pointer;
  opacity: .75;
  background-color:#87CEEB;
}

button:hover {
    opacity: 1;
}

footer {
    position: absolute;
    text-align: center;
    float: left;
    padding: 5px;
}

header {
    object-fit: fill;
    background-image: url(blue.png);
    background-size: contain;
    max-height: 100px;
    min-height: 80px;
    background-color: white;
    margin: 0 0 0 0;
    padding: 0;
}

body {
    background-color: #87CEEB;
    margin: 0 0 0 0;
    padding: 0;
}

.name1 p {
    font-size: 50px;
    letter-spacing: 10px;
    text-indent: 30px;
}

.name2 p {
    font-size: 50px;
    letter-spacing: 10px;
    text-indent: 30px;
}

.name3 p {
    font-size: 50px;
    letter-spacing: 10px;
    text-indent: 30px;
}

.name4 p {
    font-size:20px;
    text-indent:40px;
}

body {
    min-height: 300px;
    min-width:300px;
}

.pfpcollection .pfp {
    float:left;
    height: 500px;
    width:500px;
}

.pfpcollection .info {
    float:right;
    position:static;bottom:700px;
    text-align: left;
}

.pfpcollection .info .infohead{
    font-size:30px;
}

.pfpcollection .info .infobod{
    font-size:20px;
}

h2 {
    font-size: 50px;
}

.techhead {
    text-align: center;
}

.projhead {
    text-align: left;
}

.projbod {
    text-align: left;
    font-size: 20px;
}

h3 {
    font-size :30px;
}

.resume {
    text-align:center;
}



